<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tophaters.cookhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipeViewPage"
            android:label="@string/title_activity_recipe_view_page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.MainActivity" />
        </activity>
        <activity
            android:name=".recipe_add_form"
            android:label="@string/title_activity_recipe_add_form"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.MainActivity" />
        </activity>
        <activity
            android:name=".add_Ingredient"
            android:label="@string/title_activity_add_Ingredient"
            android:parentActivityName=".Ingredient_List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.MainActivity" />
        </activity>
        <activity
            android:name=".add_Origin"
            android:label="@string/title_activity_add__origin"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.Origin_List" />
        </activity>
        <activity
            android:name=".add_Category"
            android:label="@string/title_activity_add__category"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.Category_List" />
        </activity>
        <activity
            android:name=".RecipeView"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".content_search_activity"
            android:label="@string/title_activity_search_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tophaters.cookhelper.MainActivity" />
        </activity>
        <activity
            android:name=".activity_help_page"
            android:label="@string/title_activity_help_page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="tophaters.cookhelper.MainActivity" />
        </activity>

        <activity
            android:name=".Ingredient_List"
            android:label="@string/title_activity_ingredient__list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Origin_List"
            android:label="@string/title_activity_origin__list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".Category_List"
            android:label="@string/title_activity_category__list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>